django>=1.11.18
oic>=0.7.6
PyJWT
-e git+https://github.com/CloudComputingCourse/django-oidc.git#egg=django-oidc-cmucc
-e git+https://github.com/CloudComputingCourse/drf-oidc-auth.git#egg=drf-oidc-auth-cmucc
-e git+https://github.com/CloudComputingCourse/boss-oidc.git#egg=boss-oidc-cmucc
